node-red-philips-hue.json
[{"id":"c0d7f4fc.374e08","type":"mqtt in","z":"6832da80.af6a1c","name":"","topic":"flick","qos":"2","broker":"3e3899a1.59ea96","x":138.88333129882812,"y":320.48333740234375,"wires":[["bbee9a12.01e7b8"]]},{"id":"bbee9a12.01e7b8","type":"switch","z":"6832da80.af6a1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"FLICK-NS","vt":"str"},{"t":"eq","v":"FLICK-SN","vt":"str"},{"t":"eq","v":"FLICK-WE","vt":"str"},{"t":"eq","v":"FLICK-EW","vt":"str"}],"checkall":"true","outputs":4,"x":394.8833312988281,"y":319.8833312988281,"wires":[["fa43f2c2.95be1","26d89341.e485c4"],["fa43f2c2.95be1","cbe95a04.c31b18"],["9b0f0428.aa53f8"],["613ddc24.b621cc"]]},{"id":"fa43f2c2.95be1","type":"debug","z":"6832da80.af6a1c","name":"","active":true,"console":"false","complete":"false","x":743.88330078125,"y":268.2500305175781,"wires":[]},{"id":"cbe95a04.c31b18","type":"function","z":"6832da80.af6a1c","name":"Off","func":"msg.payload={\n\t\"on\":[false],\n\n};\nreturn msg;","outputs":1,"noerr":0,"x":811.88330078125,"y":195.9166259765625,"wires":[["29fcbbe8.b3752c","684e90da.0620e8","661d92ee.41b234"]]},{"id":"26d89341.e485c4","type":"function","z":"6832da80.af6a1c","name":"On","func":"msg.payload={\n\t\"on\":[true],\n\t\"bri\":[255],\n\t\"rgb\":[255,255,255]\n};\nreturn msg;","outputs":1,"noerr":0,"x":807.88330078125,"y":136.9166259765625,"wires":[["29fcbbe8.b3752c","684e90da.0620e8","661d92ee.41b234"]]},{"id":"9b0f0428.aa53f8","type":"function","z":"6832da80.af6a1c","name":"On","func":"msg.payload={\n\t\"on\":[true],\n\t\"bri\":[255],\n\t\"rgb\":[255,255,255]\n};\nreturn msg;","outputs":1,"noerr":0,"x":798,"y":326.88330078125,"wires":[["2dbc8d8c.ca8d42"]]},{"id":"613ddc24.b621cc","type":"function","z":"6832da80.af6a1c","name":"Off","func":"msg.payload={\n\t\"on\":[false],\n\n};\nreturn msg;","outputs":1,"noerr":0,"x":795,"y":366.8833312988281,"wires":[["2dbc8d8c.ca8d42"]]},{"id":"1cf65adb.20639d","type":"switch","z":"6832da80.af6a1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":555.88330078125,"y":192.9166259765625,"wires":[["26d89341.e485c4"],["cbe95a04.c31b18"]]},{"id":"29fcbbe8.b3752c","type":"Hue Set","z":"6832da80.af6a1c","deviceid":"1","serverid":"001788fffe25e036","name":"Philips Hue Lamp 1","x":1067.88330078125,"y":136.9166259765625,"wires":[[],[]]},{"id":"684e90da.0620e8","type":"Hue Set","z":"6832da80.af6a1c","deviceid":"2","serverid":"001788fffe25e036","name":"Philips Hue Lamp 2","x":1067.88330078125,"y":196.9166259765625,"wires":[[],[]]},{"id":"661d92ee.41b234","type":"Hue Set","z":"6832da80.af6a1c","deviceid":"3","serverid":"001788fffe25e036","name":"Philips Hue Lamp 3","x":1067.88330078125,"y":256.9166259765625,"wires":[[],[]]},{"id":"2dbc8d8c.ca8d42","type":"Hue Set","z":"6832da80.af6a1c","deviceid":"6","serverid":"001788fffe25e036","name":"Philips Hue Office","x":1076,"y":324.88330078125,"wires":[[],[]]},{"id":"a5520e7c.4ac86","type":"trigger","z":"6832da80.af6a1c","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":false,"units":"s","reset":"","name":"","x":347.7666320800781,"y":191.78329467773438,"wires":[["1cf65adb.20639d"]]},{"id":"812d7e01.e247d8","type":"mqtt in","z":"6832da80.af6a1c","name":"","topic":"sensor/pir","qos":"2","broker":"3e3899a1.59ea96","x":139.76663208007812,"y":190.39999389648438,"wires":[["a5520e7c.4ac86"]]},{"id":"3e3899a1.59ea96","type":"mqtt-broker","z":"","broker":"mqtt.unixweb.de","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
